<div class="container text-center"> 
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
      developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ipsum, eaque. Dolore fuga saepe dignissimos quae animi porro possimus natus ducimus sequi quibusdam molestiae, debitis maiores deserunt repellendus suscipit ratione?
    </p>
</div>